* @soulcramer @MarinaRomanova @SimonMarquis @adevinta/spark-contributors-android
/.github/ @soulcramer @MarinaRomanova @SimonMarquis
/gradle/ @soulcramer @MarinaRomanova @SimonMarquis
/build-logic/ @soulcramer @MarinaRomanova @SimonMarquis
