* @soulcramer @SimonMarquis @kazaky @adevinta/spark-contributors-android
/.github/ @soulcramer @SimonMarquis @kazaky
/gradle/ @soulcramer @SimonMarquis @kazaky
/build-logic/ @soulcramer @SimonMarquis @kazaky
